<!-- app/views/orders/checkout.html.erb -->
<h1>Checkout</h1>

<%= form_with(model: @order, local: true) do |form| %>
  <div>
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>
  <div>
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>
  <div>
    <%= form.label :province_id, "Province" %>
    <%= form.collection_select :province_id, Province.all, :id, :name, include_blank: true %>
  </div>
  <div>
    <%= form.label :postal_code %>
    <%= form.text_field :postal_code %>
  </div>

  <h2>Items</h2>
  <ul>
    <% @cart.cart_items.each do |item| %>
      <li>
        <% if item.product.image.attached? %>
          <%= image_tag(item.product.image, alt: item.product.product_name, style: "width: 100px; height: auto;") %>
        <% end %>
        <p><%= item.product.product_name %> - Quantity: <%= item.quantity %> - Price: <%= number_to_currency(item.product.price) %></p>
      </li>
    <% end %>
  </ul>

  <p>Subtotal: <%= number_to_currency(@subtotal) %></p>
  <p>Taxes: <%= number_to_currency(@taxes) %></p>
  <p>Total: <%= number_to_currency(@total) %></p>

  <%= form.submit "Place Order" %>
<% end %>
