<h1>Your Cart</h1>
<ul>
  <% @cart.cart_items.each do |item| %>
    <li>
      <%= item.product.product_name %> - <%= number_to_currency(item.product.price) %> x <%= item.quantity %>
    </li>
  <% end %>
</ul>
<p>Total: <%= number_to_currency(@cart.total_price) %></p>
<%= link_to 'Checkout', new_order_path %>
