<h1>Your Cart</h1>
<ul>
  <% @cart.cart_items.each do |item| %>
    <li class="cart-item">
      <% if item.product.image_url.present? %>
        <img src="<%= item.product.image_url %>" alt="<%= item.product.product_name %>" style="width: 150px; height: auto;">
      <% end %>
      
      <div class="cart-item-details">
        <h2><%= item.product.product_name %></h2>
        <p><%= item.product.description %></p>
        <p><%= number_to_currency(item.product.price) %> x <%= item.quantity %></p>
      </div>

      <div class="cart-item-actions">
        <%= form_with url: update_quantity_cart_path(item), method: :patch, local: true do %>
          <%= number_field_tag :quantity, item.quantity, min: 1 %>
          <%= hidden_field_tag :id, item.id %>
          <%= submit_tag "Update" %>
        <% end %>

        <%= form_with url: remove_item_cart_path(item), method: :delete, local: true do %>
          <%= hidden_field_tag :id, item.id %>
          <%= submit_tag "Remove" %>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
<p>Total: <%= number_to_currency(@cart.total_price) %></p>
<%= link_to 'Checkout', new_order_path %>
