<h1><%= @category.category_name %></h1>
<ul>
  <% @products.each do |product| %>
    <li>
      <% if product.image_url.present? %>
        <img src="<%= product.image_url %>" alt="<%= product.product_name %>" style="width: 150px; height: auto;">
      <% end %>
      <a href="<%= product_path(product) %>"><%= product.product_name %></a>
      <p><%= product.description %></p>
      <p><%= number_to_currency(product.price) %></p>
    </li>
  <% end %>
</ul>
