<h1>Products</h1>

<%= form_with url: products_path, method: :get, local: true do %>
  <div>
    <%= label_tag :query, "Search for a product:" %>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Search" %>
  </div>
<% end %>

<ul>
  <% @products.each do |product| %>
    <li>
      <% if product.image_url.present? %>
        <img src="<%= product.image_url %>" alt="<%= product.product_name %>" style="width: 150px; height: auto;">
      <% end %>
      <a href="<%= product_path(product) %>"><%= product.product_name %></a>
      <p><%= product.description %></p>
      <p><%= number_to_currency(product.price) %></p>
    </li>
  <% end %>
</ul>
