<h1><%= @product.product_name %></h1>
<p><%= @product.description %></p>
<p><%= number_to_currency(@product.price) %></p>
<%= form_with url: add_product_cart_path(product_id: @product.id), method: :post, local: true do %>
  <%= submit_tag "Add to Cart" %>
<% end %>
