<!DOCTYPE html>
<html>
<head>
  <title>TShirtHaven</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Products', products_path %></li>
        <li><%= link_to 'Categories', categories_path %></li>
        <li><%= link_to 'Cart', cart_path %></li>
        <li><%= link_to 'Orders', orders_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure you want to logout?" } %>
        <% else %>
          <li><%= link_to 'Login', new_user_session_path %></li>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
        <% end %>
      </ul>
    </nav>
  </header>

  <div id="flash-messages">
    <% flash.each do |key, value| %>
      <div class="flash <%= key %>"><%= value %></div>
    <% end %>
  </div>

  <main>
    <%= yield %>
  </main>
</body>
</html>
